**/Dockerfile
**/.gradle
**/build/
!**/gradle/wrapper/gradle-wrapper.jar
!**/!**/src/main/**
!**/src/test/**

**/.springBeans
**/.sts4-cache


### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr
**/out/

**/.directory
**/DDBB/
**/reports/
**/logs/
**/target/